*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(155, 175, 182);

}

.top-title{
   text-align:center;
margin-top: 150px;
margin-bottom: 70px;
font-family: Helveticaneue,Verdana,sans-serif;
color: rgb(68, 46, 46);
font-size: 50px;
line-height: 38px;
}
.text-span-7 {
    display: block;
    margin-right: auto;
    margin-bottom: 23px;
    margin-left: auto;
    font-family: Helveticaneue,Verdana,sans-serif;
    text-align: center;
}
.w-row{

    margin-top:50px;
    background: rgb(245, 237, 217);
    display:flex;
    justify-content: center;
    justify-content: space-around;
}
p{
    font-size:20px;
}
.paragraph-42 .paragraph-41 .paragraph-43{
    display:inline-block;
}